@import './reset';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue/dist/bootstrap-vue';


.content {
  margin: 20px 70px 20px 70px;
  
}


.app-form {
  padding-top: 30px;
}

 body {
  background: linear-gradient(to right, #7f3737, #2a2122);

}




