@import './reset';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue/dist/bootstrap-vue';


.content {
  margin: 10px 50px 10px 50px;
  
}


.app-form {
  padding-top: 30px;
}

 body {
  height: 100%;
  background: linear-gradient(to right, #7f3737, #2a2122);

}



